<!-- filepath: /Users/usuario/Documents/Proyectos python/my_django_project/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto Django{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Inicio</a>
            {% if user.is_authenticated %}
                <a href="{% url 'card_list' %}">Mis cartas</a>
                <a href="{% url 'view_user_info' request.user.id %}">Mi Perfil</a>
                <a href="{% url 'list_notifications' %}">Ver Mis Notificaciones</a>
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Cerrar sesión</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
                <a href="{% url 'register' %}">Registrarse</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>