{% extends "base.html" %}

{% block content %}
<h1>Maki TCG</h1>

<!-- Botón para ir a la lista de cartas -->
<a href="{% url 'card_list' %}" >
    <button>Mis Cartas</button>
</a>

<!-- Botones de Login y Registro -->
{% if not user.is_authenticated %}
    <a href="{% url 'login' %}">
        <button>Iniciar Sesión</button>
    </a>
    <a href="{% url 'register' %}">
        <button>Registrarse</button>
    </a>
    <div class="most-common-cards">
        <h3>Cartas más comunes en transacciones</h3>
        <ul>
            {% for card, count in most_common_cards %}
                <li>{{ card }} ({{ count }} transacciones)</li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <p>¡Hola, {{ user.username }}!</p>
    <form method="get" action="{% url 'search_card' %}">
        <input type="text" name="card_name" placeholder="Buscar carta deseada">
        <button type="submit">Buscar</button>
    </form>
{% endif %}
{% endblock %}